# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment folders
venv/
env/
.venv/
.env/

# Python egg / distribution files
*.egg
*.egg-info/
dist/
build/
.eggs/

# PyTorch / TensorFlow checkpoints or model weights
*.pt
*.pth
*.h5
*.ckpt

# Logs and temporary files
*.log
*.tmp
*.out
*.cache

# VS Code / IDE folders
.vscode/
.idea/

# Colab local files
*.ipynb_backup




# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
